a{
    color: black;
    text-decoration: none;
    /* margin-right: 20px; */
    /* max-width: 50px; */
    font-size: 15px;
}
.fw-lighter{
    font-size: small;
}

.news{
    font-family: 'Roboto',sans-serif;
    font-size: 17px;
}


.container-fluid{
    box-shadow: 0 1px 4px -2px rgba(0,0,0,0.3);
    background-color: rgb(241, 241, 241);
}

.d-flex{
    padding-top: 5px;
    width: 600px;
    margin-left: 37%; 
}

.above{

    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

input.search-bar{
    border:1px solid #b0aeac;
    border-radius: 8px;
    width:600px;
    background-color: rgb(235, 230, 230);
    font-size: 14px;
    padding: 10px 0px 10px 0px;
    opacity: 0.5;
}
.logos{
    margin-left: -460px;
}
.sec{
    margin-right: 20px;
}
.customise{
    margin-left: 550px;
    border-radius: 100px;
    font-size: 14px;
    width: 110px;
    color:rgb(7, 119, 199);
    padding-top: 3px;
}

.customise:hover{
    background-color: rgb(238, 238, 238);
    color:rgb(79,79,233);
}
